<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="GoodsDTO" type="com.acorn.cart.GoodsDTO"/>
		<typeAlias alias="CartDTO"  type="com.acorn.cart.CartDTO"/>
		<typeAlias alias="OrderDTO"  type="com.acorn.cart.OrderDTO"/>
	</typeAliases>
</configuration>